<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>
<body>
    
<h2>Create a new chat</h2>
<form action="/chats" method="post">
    
    <div class="container">
<input type="text" placeholder="From" name="from">
<br>
<br>
<textarea name="msg" id="" cols="10" rows="10" placeholder="Message"></textarea>
<br>
<br>
<input type="text" placeholder="Add receiver" name="to">
</div>
<br>
<br>
<button>Create</button>
</form>

</body>
</html>